{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form method="POST">
                <h1>Task detail</h1>
                {% csrf_token %}
                {{ form.as_p }}
                <button type='submit' class="btn btn-success">Update</button>    
            </form>
            <div class="mt-2 d-flex">
                {% if task.datecompleted %}
                <form  action="{% url 'uncomplete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Retomar</button>
                </form>
                {% elif task.datecompleted == null %}
                <form  action="{% url 'complete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Complete</button>
                </form>
                {% endif %}
                <form  action="{% url 'delete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}